@page "/"

<PageTitle>CONSULTORIO MEDICO</PageTitle>

<h1>SU SALUD ES NUESTRA PRIORIDAD</h1>

SISTEMA DE REGISTRO PACIENTE - DOCTOR

<SurveyPrompt Title="CONSULTORIO MEDICO" />

@*<AuthorizeView>
    <NotAuthorized>
        <h2>Debe identificarse para poder acceder a la aplicación</h2>
    </NotAuthorized> 
</AuthorizeView>*@