@page "/"

<AuthorizeView Roles="Administrador">
    <Authorized Context="AuthenticationState">
        <h1>Bienvenido Administrador</h1>
   </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Usuario">
    <Authorized Context="AuthenticationState">
        <h1>Bienvenido Usuario</h1>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <NotAuthorized>
        <PageTitle>CONSULTORIO MEDICO</PageTitle>

          <h1>SU SALUD ES NUESTRA PRIORIDAD</h1>

         SISTEMA DE REGISTRO PACIENTE - DOCTOR

        <h3>"CONSULTORIO MEDICO" </h3>

    </NotAuthorized> 
</AuthorizeView>




