<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Proyecto</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

         <div class="nav-item px-3">
            <NavLink class="nav-link" href="Usuarios">
                <span class="oi oi-plus" aria-hidden="true"></span> Usuarios
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RegistroDoctores/ListadoDoctores">
                <span class="oi oi-plus" aria-hidden="true"></span> Listado Doctores
            </NavLink>
        </div>

          <div class="nav-item px-3">
            <NavLink class="nav-link" href="Paciente">
                <span class="oi oi-plus" aria-hidden="true"></span> Nuevo Paciente
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RegistroDoctores">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Registro de Doctores
            </NavLink>
        </div>

        <div class = "nav-item px-3">
            <NavLink class="nav-link" href="ExpedientesPacientes">
                <span class= "oi oi-plus" aria-hidden="true"></span> Expediente Pacientes
            </NavLink>
        </div>
    </nav>
</div>



@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
