@page "/Usuario"

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>
	<link rel="stylesheet" href="estilo.css">
</head>
<body>
	

<div class="Login-form">
	<h1>Iniciar sesión </h1>
	<form action="#"method="post">
		<p>Nombre de Usuario </p>
		<input type="text"  name="Nombre de Usuario"  required=""  />

 	<p>Contraseña</p>
 	<input type="password"  name="Contraseña"  required=""  />

	<INPUT type="submit" class="btn-toolbar btn-primary" value="Ingresar" >

	</form>		
	
</div>



</body>
</html>


	