@page "/ExpedientesPacientes"

<PageTitle>Expedientes Pacientes</PageTitle>


<h3>Expediente Pacientes</h3>

<EditForm Model="@Exp">
    <DataAnnotationsValidator />
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">FechaConsulta</span>
  <input type="text" id="FechaConsulta" @bind-value="Exp.FechaConsulta" class="form-control" placeholder="Fecha" aria-label="FechaConsulta" aria-describedby="basic-addon1">
  <ValidationMessage For="@(() => Exp.FechaConsulta)" />
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Diagnostico</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  <ValidationMessage For="@(() => Exp.Diagnostico)" />
</div>

<div class="form-group row">
        <p>
            <input type="submit" class="btn-toolbar btn-primary" value="Guardar" @onclick="Guardar" />  
        </p>
</div>
</EditForm>